* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 50px;
    position: relative;
    width: 100%;
    background-color: pink;
}

.hidden {
    display: none;
}

h1 {
    font-size: 48px;
}

#titlescreen, #quiz {
    width: 40%;
    margin: 0 auto;
    display: block;
    padding: 30px;
}

.timer {
    font-size: 36px;
}


.choice {
    padding: 15px;
}

#quiz button {
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}