* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 50px;
    position: relative;
    width: 100%;
    background-color: pink;
}

.timer {
    font-size: 36px;
}

#quiz {
    border: black 1px solid;
    padding: 30px;
}

.choice {
    padding: 15px;
}

#quiz button {
    display: block;
    padding: 20px;
    margin-top: 10px;
}