* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

header {
    height: 150px;
    justify-content: space-between;
    align-content: center;
    padding: 50px;
    position: relative;
    width: 100%;
}

h3 {
    font-weight: 100;
    letter-spacing: 2px;
}

h1 {
    font-size: 48px;
}

#titlescreen, #quiz, #timer {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    display: block;
    padding: 30px;
}

#quiz h2 {
    font-size: 54px;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.timer {
    font-size: 36px;
}

#timer {
    height: 150px;
    width: 150px;
}


.choice {
    padding: 15px;
}

.btn, #quiz button {
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 25px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid white;
    transition: ease-in-out .5s;
    cursor: pointer;
}

.btn:hover, #quiz button:hover, #submit:hover {
    background-color: white;
    color: black;
}

#endscore, #lastplayer, #form {
    width: 40%;
    margin: 0 auto;
    display: none;
    padding: 30px;
}

#endscore h2 {
    font-size: 66px;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

#endscore h3 {
    text-align: left;
    font-size: 40px;
}

input {
    display: inline;
    width: 50%;
    height: 50px;
    margin-top: 70px;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

#lastplayer {
    margin-top: 35px;
    font-weight: 100;
    letter-spacing: 1px;
}

#last-player-name {
    margin-top: 15px;
    letter-spacing: 1px;
}

#submit {
    display: inline;
    padding: 20px;
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid white;
    transition: ease-in-out .5s;
    cursor: pointer;
}

#message {
    margin-top: 10px;
    letter-spacing: 1px;
}
